<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
			 Name="RDC Launcher v$(var.ProductVersion)"
			 Language="1033"
			 Version="$(var.ProductVersion)"
			 Manufacturer="Takeshi Katano"
			 UpgradeCode="96f6d0a9-2a7a-4afc-b2e4-4a1c3e5dd8cf">

		<Package InstallerVersion="500"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Comments="!(loc.AddRemoveAppComments)"
				 Description="RDC Launcher v$(var.ProductVersion) Installer"
				 Keywords="Installer;Remote Desktop client;rdclauncher;msrdc;mstsc"/>
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"/>
		<MediaTemplate EmbedCab="yes" />

		<Icon Id="rdclauncher.ico" SourceFile="$(var.msrdcui.ProjectDir)\Resources\msrdcui0.ico"/>

		<Property Id="ARPNOMODIFY" Value="1"/>
		<Property Id="ARPPRODUCTICON" Value="rdclauncher.ico"/>
		<Property Id="ARPHELPLINK" Value="https://github.com/tksh164/rdclauncher"/>
		<Property Id="ARPCOMMENTS" Value="!(loc.AddRemoveAppComments)"/>
		<Property Id="ARPREADME" Value="https://github.com/tksh164/rdclauncher/blob/main/README.md"/>
		<Property Id="ARPURLUPDATEINFO" Value="https://github.com/tksh164/rdclauncher/releases/latest"/>
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/tksh164/rdclauncher"/>

		<Feature Id="ProductFeature" Title="msi" Level="1">
			<ComponentGroupRef Id="ProductComponents"/>
			<ComponentRef Id="StartMenuShortcut"/>
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)obj\$(var.Configuration)\license.rtf"/>
		<UI>
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8"/>
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12"/>
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes"/>
			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal"/>

			<DialogRef Id="ErrorDlg"/>
			<DialogRef Id="FatalError"/>
			<DialogRef Id="FilesInUse"/>
			<DialogRef Id="MsiRMFilesInUse"/>
			<DialogRef Id="PrepareDlg"/>
			<DialogRef Id="ProgressDlg"/>
			<DialogRef Id="ResumeDlg"/>
			<DialogRef Id="UserExit"/>
			<DialogRef Id="MsrdcInstallStepsDialog"/>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

			<Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="MsrdcInstallStepsDialog">LicenseAccepted = "1"</Publish>

			<Publish Dialog="MsrdcInstallStepsDialog" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
			<Publish Dialog="MsrdcInstallStepsDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MsrdcInstallStepsDialog">NOT Installed AND NOT PATCH</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">Installed OR PATCH</Publish>

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return">1</Publish>
		</UI>
		<UIRef Id="WixUI_Common"/>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="RDCLauncher"/>
			</Directory>
			<Directory Id="ProgramMenuFolder"/>
		</Directory>
	</Fragment>
</Wix>
