<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="msrdcui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <msrdcui.Properties.Settings>
            <setting name="PortNumber" serializeAs="String">
                <value>3389</value>
            </setting>
            <setting name="DefaultFitSessionToWindowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultUpdateResolutionOnResizeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFullScreenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </msrdcui.Properties.Settings>
    </applicationSettings>
</configuration>