<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rdclauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rdclauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
		<rdclauncher.Properties.Settings>
      <setting name="DefaultPortNumber" serializeAs="String">
          <value>3389</value>
      </setting>
      <setting name="DefaultFitSessionToWindowEnabled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="DefaultUpdateResolutionOnResizeEnabled" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="DefaultFullScreenEnabled" serializeAs="String">
          <value>False</value>
      </setting>
  </rdclauncher.Properties.Settings>
    </applicationSettings>
    <userSettings>
		<rdclauncher.Properties.Settings>
      <setting name="RemoteComputerHistoryItem01" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem02" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem03" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem04" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem05" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem06" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem07" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem08" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem09" serializeAs="String">
          <value />
      </setting>
      <setting name="RemoteComputerHistoryItem10" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem01" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem02" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem03" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem04" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem05" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem06" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem07" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem08" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem09" serializeAs="String">
          <value />
      </setting>
      <setting name="RdcWindowTitleHistoryItem10" serializeAs="String">
          <value />
      </setting>
  </rdclauncher.Properties.Settings>
    </userSettings>
</configuration>